<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @* ReSharper disable once Mvc.ActionNotResolved *@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Question</h4>
            </div>
            <div class="modal-body">

                <div id="divDeleteContent"></div>

            </div>
        </div>
    </div>
</div>
